.usuarios-list-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  .usuario-card {
    width: 100px; /* reducir el ancho de la card */
    height: 200px; /* reducir la altura de la card */
    background: #FAF1F6;
    padding: 1rem 1rem; /* reducir el padding */
    transition: box-shadow .3s ease, transform .2s ease;
    display: flex;
    flex-direction: column;
    margin: 10px; /* reducir el margen */
    flex-basis: 45%; /* agregar flex-basis para que las cards ocupen el 45% del ancho */
  }
  
  .usuario-avatar {
    background: radial-gradient(#A8A6B6,#B3B1BF,#BDBBC7,#C5C4CE,#E2E2E7);
    width: 70px; /* reducir el ancho del avatar */
    height: 70px; /* reducir la altura del avatar */
    border-radius: 50%;
    transition: transform .2s ease;
  }
  
  .usuario-avatar svg {
    padding-top: 5px;
    height: 50px; /* reducir la altura del svg */
    width: 70px; /* reducir el ancho del svg */
    fill: #515F65;
  }
  
  .usuario-title {
    color: #1b1b1b;
    font-size: 1.2em; /* reducir el tamaño de la fuente */
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: 5px;
  }
  
  .usuario-subtitle {
    color: #7e93a0;
    font-size: 0.9em; /* reducir el tamaño de la fuente */
  }
  
  .usuario-card:hover {
    box-shadow: 0 10px 50px #23232333;
  }
  
  .usuario-card:hover .usuario-info {
    transform: translateY(-5%);
  }
  
  .usuario-avatar:hover {
    transform: scale(1.1);
  }
  
  .usuario-social-icon {
    font-size: 0.8em; /* reducir el tamaño de la fuente */
  }
  