.usuarios-component {
    max-width: 400px;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 10rem;
  }
  
  .usuarios-component-int {
    padding: 20px 0 0 0;
  }
  
  .usuarios-component-title {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(97, 18, 136);
    margin-bottom: 10px;
  }
  .btn-toggle-lista:hover {
    background-color: #2249f5;
    cursor: pointer;
  }
  .btn-toggle-lista {
    margin-top: 1rem;
    background-color: #5271FF;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 3px;
  }