.usuarios-component {
    max-width: 400px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
  }
  
  .usuarios-component-int {
    padding: 20px 0 0 0;
  }
  
  .usuarios-component-title {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(97, 18, 136);
    margin-bottom: 10px;
  }
  