.usuarios-list-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan */
  justify-content: center;
}

.usuario-card {
  width: fit-content; /* 45% del ancho disponible */
  height: fit-content;
  padding: 6px; /* Ajustar la altura de la tarjeta */
  background: #FAF1F6;
  transition: box-shadow .3s ease, transform .2s ease;
  display: flex;
  flex-direction: column;
  margin: 8px; /* Ajustar el margen */
  border-radius: 10px;
  box-sizing: border-box; /* Incluir padding y borde en las dimensiones */
}

.usuario-avatar {
  background: radial-gradient(#A8A6B6,#B3B1BF,#BDBBC7,#C5C4CE,#E2E2E7);
  width: fit-content; /* Ajustar el ancho del avatar */
  height: 70px; /* Ajustar la altura del avatar */
  border-radius: 50%;
  transition: transform .2s ease;
  display: flex;
  justify-content: center;
  margin: 3px;
}

.usuario-avatar svg {
  padding-top: 5px;
  height: 50px; /* Ajustar la altura del svg */
  width: 70px; /* Ajustar el ancho del svg */
  fill: #515F65;
}

.usuario-title {
  color: #1b1b1b;
  font-size: 1.2em; /* Ajustar el tamaño de la fuente */
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 5px;
}

.usuario-subtitle {
  color: #7e93a0;
  font-size: 0.9em; /* Ajustar el tamaño de la fuente */
}

.usuario-card:hover {
  box-shadow: 0 10px 50px #23232333;
}

.usuario-card:hover .usuario-info {
  transform: translateY(-5%);
}

.usuario-avatar:hover {
  transform: scale(1.1);
}

.usuario-social-icon {
  font-size: 0.8em; /* Ajustar el tamaño de la fuente */
}
