.formulario-horizontal {
    
    height: auto;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
    padding: 25px;
    display: flex;
    flex-direction: column;

  }
  
  .formulario-cabecera {
    
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .formulario-cabecera svg {

    color: rgb(97, 18, 136);
    margin-right: 5px;
  }
  
  .formulario-titulo {
    font-size: 21px;
    color: rgb(97, 18, 136);
  }
  
  .formulario-campo {
    margin-right: 20px;
  }
  
  .formulario-etiqueta {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  .formulario-input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 150px;
    color: #7a7ab3;
    border: 1px solid #dadaf7
  }
  
  .formulario-input:focus-visible {
    outline: 1px solid #aeaed6;
  }
  
  .formulario-input::placeholder {
    color: #bcbcdf;
  }
  
  .formulario-boton {
    margin-top: 1rem;
    background-color: rgb(97, 18, 136);
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
  }
  
  .formulario-boton:hover {
    background-color: #5f5f9c;
  }
  